In [45]:
print('INFORMATION OF FEMALE STUDENTS IN A GIVEN CLASS')

print("NAME        AGE     HEIGHT    SCORES")
girls = {'1.Evelyn': '   17        5.5       80',
        '2.Jessica': '  16        6.0       85  ',
        '3.Somto' : '    17        5.4       70',
         '4.Edith' : '    18        5.9       60 ',
         '5.Liza': '     16        5.6       76',
         '6.Madonna': '  18        5.5       66',
         '7. Waje': '    17        6.1       87',
         '8.Tola': '     20        6.0       95',
         '9.Aisha': '    19        5.7       50',
         '10.Latifa':'  17        5.5       49'
        }
for x in girls:
    print(x , girls[x])

INFORMATION OF FEMALE STUDENTS IN A GIVEN CLASS
NAME        AGE     HEIGHT    SCORES
1.Evelyn    17        5.5       80
2.Jessica   16        6.0       85
3.Somto     17        5.4       70
4.Edith     18        5.9       60
5.Liza      16        5.6       76
6.Madonna   18        5.5       66
7. Waje     17        6.1       87
8.Tola      20        6.0       95
9.Aisha     19        5.7       50
10.Latifa   17        5.5       49

In [66]:
print('INFORMATION OF FEMALE STUDENTS IN A GIVEN CLASS')

print("NAME         AGE     HEIGHT    SCORES")

boys = { '1.Chinedu': '   19       5.7       74',
        '2.Liam': '      16       5.9       87',
        '3.Wale': '      18       5.8       75 ',
        '4.Gbenga': '    17       6.1       68',
        '5.Abiola': '    20       5.9       66',
        '6.Kola': '      19       5.5       78',
        '7.Kunle': '     16       6.1       87',
        '8.George': '    18       5.4       98',
        '9.Thomas': '    17       5.8       54',
        '10.Wesley': '   19       5.7       60'
    }
for x in boys:
    print(x , boys[x])

INFORMATION OF FEMALE STUDENTS IN A GIVEN CLASS
NAME         AGE     HEIGHT    SCORES
1.Chinedu    19       5.7       74
2.Liam       16       5.9       87
3.Wale       18       5.8       75
4.Gbenga     17       6.1       68
5.Abiola     20       5.9       66
6.Kola       19       5.5       78
7.Kunle      16       6.1       87
8.George     18       5.4       98
9.Thomas     17       5.8       54
10.Wesley    19       5.7       60